<ul>
  <% @tasks.each do |task| %>
    <li>


      <%= form_with model: task do |f| %>
        <%= f.check_box :completed %>
      <% end %>



      <%= link_to task.title, task_path(task) %>
      <%= link_to task_path(task),   data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
      <i class="fa-solid fa-trash"></i>
      <% end %>

    </li>
  <% end %>
</ul>

<%= link_to "New task", tasks_new_path%>
